.label-fill {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid none;
    padding: 0.375rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.label-fill-primary {
    color: #fff;
    background-color: #1A73D1;
    border-color: #1A73D1;
}

.label-fill-action {
    color: #fff;
    background-color: #F77B11;
    border-color: #F77B11;
}


.label-fill-success {
    color: #fff;
    background-color: #8FBD2E;
    border-color: #8FBD2E;
}

.label-fill-light {
    color: #212529;
    background-color: #E8EDF5;
    border-color: #E8EDF5;
}